@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  color: #e7e7e7;
}

body {
  background: #000;
  overflow-x: hidden;
}

.arrow-down {
  height: 50px;
  width: auto;
  bottom: 10px;
  position: absolute;
}

header {
  width: 100%;
}

nav {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: none;
  color: #e7e7e7;
}

.nav__menu-bar {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}

.nav__menu-list {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 80px;
  width: 250px;
  row-gap: 24px;
  right: -250px;
  padding: 24px 16px;
  transition: all 0.2s;
  min-height: calc(100vh - 60px);
  background-color: none;
  z-index: 100;
}

.nav__menu-list.active {
  right: 0;
}

.nav__link {
  font-size: 18px; 
  position: relative;
  transition: all 0.2s;
  color:#e7e7e7;
  font-weight: 700;
}

#get-started {
  min-height: 100vh;
}

#whats-new {
  min-height: 100vh;
}

.center {
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu-list {
    background: #000;
    color: #e7e7e7;
  }
  .nav__link {
    color:#e7e7e7;
  }
}

@media screen and (min-width: 768px) {

  .nav__menu-bar {
    display: none;
  }

  .nav__menu-list {
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    width: fit-content;
    column-gap: 24px;
    align-items: center;
  }

  .nav__link::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    bottom: -10px;
    left: 0;
    background-color: #e7e7e7;
    transition: all 0.2s;
  }
  
  .nav__link:hover:before {
   width: 100%;
  }
}

